In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/minor project../presentation/result.csv")
df.head()

,Unnamed: 0,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,IndicatorGroup,CountryGroup,CountryStatus
0,0,Australia,AUS,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,2015,6.0,Aid effectiveness,EastAsia & Pacific,Developed
1,1,Australia,AUS,Time required to get electricity (days),IC.ELC.TIME,2015,75.0,Energy & Mining,EastAsia & Pacific,Developed
2,2,Australia,AUS,"Bird species, threatened",EN.BIR.THRD.NO,2015,50.0,Environment,EastAsia & Pacific,Developed
3,3,Australia,AUS,"Fish species, threatened",EN.FSH.THRD.NO,2015,111.0,Environment,EastAsia & Pacific,Developed
4,4,Australia,AUS,"Mammal species, threatened",EN.MAM.THRD.NO,2015,56.0,Environment,EastAsia & Pacific,Developed

In [ ]:
df.drop(['Unnamed: 0','CountryCode','IndicatorCode','CountryGroup'],axis=1,inplace=True)
df.head()

,CountryName,IndicatorName,Year,Value,IndicatorGroup,CountryStatus
0,Australia,"Maternal mortality ratio (modeled estimate, pe...",2015,6.0,Aid effectiveness,Developed
1,Australia,Time required to get electricity (days),2015,75.0,Energy & Mining,Developed
2,Australia,"Bird species, threatened",2015,50.0,Environment,Developed
3,Australia,"Fish species, threatened",2015,111.0,Environment,Developed
4,Australia,"Mammal species, threatened",2015,56.0,Environment,Developed

In [ ]:
df.drop(['Year','IndicatorGroup'],axis=1,inplace=True)

In [ ]:
df=df.sample(frac=1)

In [ ]:
sample=df.groupby(['CountryName','IndicatorName'])
sample.first()

                                                                     Value  \
CountryName IndicatorName
Algeria     Bird species, threatened                             14.000000
            Business extent of disclosure index (0=less dis...    4.000000
            Depth of credit information index (0=low to 8=h...    0.000000
            Fish species, threatened                             40.000000
            Mammal species, threatened                           13.000000
...                                                                    ...
Zimbabwe    Proportion of seats held by women in national p...   31.481481
            Start-up procedures to register a business (num...    9.000000
            Strength of legal rights index (0=weak to 12=st...    5.000000
            Time required to get electricity (days)             106.000000
            Time required to start a business (days)             90.000000

                                                               CountryStatus
CountryName IndicatorName
Algeria     Bird species, threatened                              Developing
            Business extent of disclosure index (0=less dis...    Developing
            Depth of credit information index (0=low to 8=h...    Developing
            Fish species, threatened                              Developing
            Mammal species, threatened                            Developing
...                                                                      ...
Zimbabwe    Proportion of seats held by women in national p...    Developing
            Start-up procedures to register a business (num...    Developing
            Strength of legal rights index (0=weak to 12=st...    Developing
            Time required to get electricity (days)               Developing
            Time required to start a business (days)              Developing

[1020 rows x 2 columns]

In [ ]:
Countries=list(df['CountryName'].unique())

In [ ]:
a=df.loc[df['CountryName']=='Australia']

In [ ]:
a.shape

(24, 4)

In [ ]:
a=a.drop_duplicates('IndicatorName')

In [ ]:
a.head()

,CountryName,IndicatorName,Value,CountryStatus
9,Australia,Strength of legal rights index (0=weak to 12=s...,11.000000,Developed
13,Australia,"Maternal mortality ratio (modeled estimate, pe...",6.000000,Developed
18,Australia,Time required to get electricity (days),75.000000,Developed
19,Australia,Depth of credit information index (0=low to 8=...,7.000000,Developed
6,Australia,Bank nonperforming loans to total gross loans (%),1.048987,Developed

In [ ]:
a.shape

(16, 4)

In [ ]:
df2=pd.DataFrame(columns={'CountryName','Status'})
df2.head()

Empty DataFrame
Columns: [CountryName, Status]
Index: []

In [ ]:
df2['CountryName']=Countries

In [ ]:
df2.head()

  CountryName Status
0     Denmark    NaN
1    Portugal    NaN
2      Guinea    NaN
3      Norway    NaN
4      Malawi    NaN

In [ ]:
df2.shape

(69, 2)

In [ ]:
len(Countries)

69

In [ ]:
df.loc[df['CountryStatus']=='Developing']['CountryName'].unique().shape

(30,)

In [ ]:
df.loc[df['CountryStatus']=='UnderDeveloped']['CountryName'].unique().shape

(24,)

In [ ]:
df.loc[df['CountryStatus']=='Developed']['CountryName'].unique().shape

(34,)

In [ ]:
34+24+30

88

In [ ]:
df3=pd.DataFrame(columns=df.columns)

In [ ]:
for i in Countries:
  sample=df.loc[df['CountryName']==i]
  sample=sample.drop_duplicates('IndicatorName')
  df3=df3.append(sample)

In [ ]:
df3.head()

,CountryName,IndicatorName,Value,CountryStatus
215,Denmark,"Fish species, threatened",18.0,Developed
212,Denmark,"Maternal mortality ratio (modeled estimate, pe...",6.0,Developed
229,Denmark,Business extent of disclosure index (0=less di...,7.0,Developed
227,Denmark,Start-up procedures to register a business (nu...,4.0,Developed
224,Denmark,"Mortality rate, infant (per 1,000 live births)",2.9,Developed

In [ ]:
df3.shape

(1020, 4)

In [ ]:
df.shape

(1997, 4)

In [ ]:
1020-1997

-977

In [ ]:
#977 rows are dropped
Indicators=list(df3['IndicatorName'].unique())

In [ ]:
Indicators

['Fish species, threatened',
 'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
 'Business extent of disclosure index (0=less disclosure to 10=more disclosure)',
 'Start-up procedures to register a business (number)',
 'Mortality rate, infant (per 1,000 live births)',
 'Strength of legal rights index (0=weak to 12=strong)',
 'Proportion of seats held by women in national parliaments (%)',
 'Time required to start a business (days)',
 'Bird species, threatened',
 'Mortality rate, neonatal (per 1,000 live births)',
 'Plant species (higher), threatened',
 'Time required to get electricity (days)',
 'Mammal species, threatened',
 'Depth of credit information index (0=low to 8=high)',
 'Bank capital to assets ratio (%)',
 'Bank nonperforming loans to total gross loans (%)']

In [ ]:
df2.head()

  CountryName Status
0     Denmark    NaN
1    Portugal    NaN
2      Guinea    NaN
3      Norway    NaN
4      Malawi    NaN

In [ ]:
for i in Countries:
  x=list(df3.loc[df['CountryName']==i]['CountryStatus'].unique())
  val=x[0]
  df2.loc[df2['CountryName']==i,'Status']=val

In [ ]:
df2.head()

  CountryName          Status
0     Denmark       Developed
1    Portugal       Developed
2      Guinea  UnderDeveloped
3      Norway       Developed
4      Malawi  UnderDeveloped

In [ ]:
df2.loc[df2['Status']=='Developing']['CountryName'].unique().shape

(21,)

In [ ]:
df2.loc[df2['Status']=='UnderDeveloped']['CountryName'].unique().shape

(14,)

In [ ]:
df2.loc[df2['Status']=='Developed']['CountryName'].unique().shape

(34,)

In [ ]:
final=pd.DataFrame(columns={'Countries':Countries})

In [ ]:
final['Countries']=Countries
final.head()

  Countries
0   Denmark
1  Portugal
2    Guinea
3    Norway
4    Malawi

In [ ]:
for i in Indicators:
  final[i]=0
final.head()

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%)
0,Denmark,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Portugal,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Guinea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Norway,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Malawi,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
for i in Countries:
  x=list(df3.loc[df['CountryName']==i]['CountryStatus'].unique())
  val=x[0]
  final.loc[final['Countries']==i,'Status']=val

In [ ]:
final.head()

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%),Status
0,Denmark,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Developed
1,Portugal,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Developed
2,Guinea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,UnderDeveloped
3,Norway,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Developed
4,Malawi,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,UnderDeveloped

In [ ]:
for i in Indicators:
  v=np.mean(df3.loc[(df3['CountryName']=='Denmark') & (df3['IndicatorName']==i)]['Value'])
  final.loc[final['Countries']=='Denmark',i]=v
final.head()

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%),Status
0,Denmark,18,6,7,4,2.9,8,37.988827,3,7,2.5,4,38,2,6,7.627405,4.439221,Developed
1,Portugal,0,0,0,0,0.0,0,0.000000,0,0,0.0,0,0,0,0,0.000000,0.000000,Developed
2,Guinea,0,0,0,0,0.0,0,0.000000,0,0,0.0,0,0,0,0,0.000000,0.000000,UnderDeveloped
3,Norway,0,0,0,0,0.0,0,0.000000,0,0,0.0,0,0,0,0,0.000000,0.000000,Developed
4,Malawi,0,0,0,0,0.0,0,0.000000,0,0,0.0,0,0,0,0,0.000000,0.000000,UnderDeveloped

In [ ]:
for j in Countries:
  for i in Indicators:
      v=np.mean(df3.loc[(df3['CountryName']==j) & (df3['IndicatorName']==i)]['Value'])
      final.loc[final['Countries']==j,i]=v
final.head()

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%),Status
0,Denmark,18,6,7.0,4.0,2.9,8.0,37.988827,3.0,7,2.5,4,38.0,2,6.0,7.627405,4.439221,Developed
1,Portugal,62,10,6.0,3.0,3.0,2.0,31.304348,2.5,12,2.0,82,52.0,12,7.0,8.048999,12.286962,Developed
2,Guinea,75,679,7.0,6.0,61.0,6.0,21.929825,8.0,19,31.3,35,69.0,25,0.0,NaN,NaN,UnderDeveloped
3,Norway,23,5,7.0,4.0,2.0,5.0,39.644970,4.0,7,1.5,14,66.0,7,6.0,NaN,1.306463,Developed
4,Malawi,98,634,4.0,8.0,43.4,5.0,16.666667,38.0,18,21.8,25,127.0,8,0.0,NaN,NaN,UnderDeveloped

In [ ]:
n = final[final.isna().any(axis=1)]
n

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%),Status
2,Guinea,75,679,7.0,6.0,61.0,6.0,21.929825,8.0,19,31.3,35,69.0,25,0.0,NaN,NaN,UnderDeveloped
3,Norway,23,5,7.0,4.0,2.0,5.0,39.644970,4.0,7,1.5,14,66.0,7,6.0,NaN,1.306463,Developed
4,Malawi,98,634,4.0,8.0,43.4,5.0,16.666667,38.0,18,21.8,25,127.0,8,0.0,NaN,NaN,UnderDeveloped
5,Germany,24,6,5.0,9.0,3.1,6.0,36.450079,10.5,11,2.1,24,28.0,4,8.0,5.793068,NaN,Developed
7,Lesotho,1,487,3.0,7.0,69.2,5.0,25.000000,29.0,7,32.7,4,114.0,2,0.0,NaN,NaN,Developing
8,Liberia,62,725,4.0,4.0,52.8,8.0,10.958904,4.5,13,24.1,50,465.0,24,0.0,NaN,NaN,UnderDeveloped
11,Burkina Faso,4,371,7.0,3.0,60.9,6.0,13.333333,13.0,11,26.7,3,158.0,9,0.0,NaN,NaN,UnderDeveloped
12,Equatorial Guinea,42,342,7.0,18.0,68.2,6.0,24.000000,135.0,7,33.1,84,106.0,23,2.0,NaN,NaN,Developing
14,Sudan,22,311,0.0,10.0,47.6,3.0,30.516432,36.0,23,29.8,16,70.0,12,0.0,NaN,NaN,Developing
15,Morocco,54,121,6.0,4.0,23.7,2.0,16.962025,10.0,15,17.6,36,57.0,16,6.0,NaN,NaN,Developing
16,Gabon,71,291,7.0,7.0,36.1,6.0,14.166667,50.0,6,23.2,154,148.0,19,2.0,NaN,NaN,Developing
18,Italy,51,4,7.0,5.0,2.9,2.0,30.952381,5.5,14,2.1,74,124.0,7,7.0,NaN,NaN,Developed
19,Eritrea,21,501,4.0,13.0,34.1,0.0,22.000000,84.0,18,18.4,4,59.0,10,0.0,NaN,NaN,Developing
20,Central African Republic,3,882,7.0,10.0,91.5,6.0,NaN,22.0,14,42.6,24,98.0,13,0.0,NaN,NaN,UnderDeveloped
22,Switzerland,9,5,0.0,6.0,3.4,6.0,30.500000,10.0,6,2.7,10,39.0,2,6.0,NaN,NaN,Developed
25,Benin,38,405,7.0,7.0,64.2,6.0,7.228916,12.0,10,31.8,17,90.0,12,0.0,NaN,NaN,Developing
26,Rwanda,9,290,7.0,7.0,31.1,11.0,63.750000,5.5,16,18.7,8,34.0,23,8.0,NaN,NaN,UnderDeveloped
27,Angola,50,477,4.0,8.0,96.0,1.0,36.818182,36.0,26,48.7,34,145.0,17,0.0,NaN,NaN,Developing
30,Tunisia,39,62,4.0,10.0,12.1,2.0,31.336406,11.0,10,8.2,7,65.0,13,5.0,NaN,NaN,Developing
34,Libya,32,9,1.0,10.0,11.4,0.0,15.957447,35.0,6,7.2,3,118.0,11,0.0,NaN,NaN,Developing
35,Zimbabwe,3,443,8.0,9.0,46.6,5.0,31.481481,90.0,17,23.5,17,106.0,10,5.0,NaN,NaN,Developing
36,Djibouti,18,229,4.0,7.0,54.2,1.0,12.727273,14.0,11,33.4,3,125.0,6,0.0,NaN,20.300000,UnderDeveloped
37,Hungary,9,17,2.0,4.0,5.3,10.0,10.101010,5.0,13,3.5,12,252.0,2,5.0,NaN,12.665359,Developed
38,Ethiopia,14,353,3.0,11.0,41.4,3.0,NaN,19.0,32,27.7,41,95.0,33,0.0,NaN,NaN,UnderDeveloped
39,Bulgaria,22,11,10.0,4.0,9.3,9.0,20.416667,18.0,18,5.6,6,130.0,7,5.0,NaN,NaN,Developed
43,Madagascar,87,353,7.0,9.0,35.9,3.0,20.529801,13.0,35,19.7,540,450.0,119,0.0,NaN,NaN,Developing
44,Guinea-Bissau,39,549,7.0,9.0,60.3,6.0,13.725490,9.0,10,39.7,5,455.0,14,0.0,NaN,NaN,UnderDeveloped
45,New Zealand,35,11,10.0,1.0,4.7,12.0,31.404959,0.5,67,3.1,23,58.0,9,8.0,NaN,NaN,Developed
48,Mauritania,43,602,6.0,6.0,65.1,2.0,25.170068,8.0,15,35.7,0,70.0,16,2.0,NaN,NaN,UnderDeveloped
49,Iceland,16,3,7.0,5.0,1.6,5.0,41.269841,4.0,4,0.9,0,22.0,6,7.0,NaN,NaN,Developed
50,Botswana,2,129,7.0,9.0,34.8,5.0,9.523810,48.0,13,21.9,2,77.0,8,6.0,NaN,NaN,Developing
54,Somalia,27,732,NaN,NaN,85.0,NaN,13.818182,NaN,18,39.7,43,NaN,13,NaN,NaN,NaN,Developing
55,Luxembourg,1,10,6.0,6.0,1.5,3.0,28.333333,18.5,3,0.9,0,56.0,0,0.0,6.593499,NaN,Developed
57,Slovenia,33,9,5.0,2.0,2.1,3.0,36.666667,6.0,8,1.4,11,38.0,5,4.0,NaN,11.512233,Developed
60,Mali,2,587,7.0,5.0,74.5,6.0,8.843537,8.5,16,37.8,8,120.0,12,0.0,NaN,NaN,UnderDeveloped
61,Zambia,20,224,4.0,6.0,43.3,7.0,12.658228,7.5,18,21.4,20,117.0,11,8.0,NaN,NaN,UnderDeveloped
62,France,52,8,9.0,5.0,3.5,4.0,26.169844,4.0,13,2.2,41,71.0,8,6.0,NaN,NaN,Developed
63,Mozambique,63,489,5.0,10.0,56.7,1.0,39.600000,19.0,29,27.1,84,91.0,13,4.0,NaN,NaN,Developing
65,Algeria,40,140,4.0,12.0,21.9,2.0,31.601732,20.0,14,15.5,18,180.0,13,0.0,NaN,NaN,Developing
66,Finland,6,3,6.0,3.0,1.9,7.0,41.500000,14.0,9,1.3,8,42.0,1,6.0,NaN,NaN,Developed
67,Chad,1,856,7.0,9.0,85.0,6.0,14.893617,60.0,13,39.3,6,67.0,14,0.0,NaN,NaN,Developing

In [ ]:
n.shape

(41, 18)

In [ ]:
for j in Countries:
  for i in Indicators:
      val=final.loc[final['Countries']==j,i]
      if(val.isnull().values.any):
        s=list(final.loc[(final['Countries']==j),'Status'].unique())[0]
        v=np.mean(final.loc[final['Status']==s,i])
        final.loc[final['Countries']==j,i]=v
      
final.head()

,Countries,"Fish species, threatened","Maternal mortality ratio (modeled estimate, per 100,000 live births)",Business extent of disclosure index (0=less disclosure to 10=more disclosure),Start-up procedures to register a business (number),"Mortality rate, infant (per 1,000 live births)",Strength of legal rights index (0=weak to 12=strong),Proportion of seats held by women in national parliaments (%),Time required to start a business (days),"Bird species, threatened","Mortality rate, neonatal (per 1,000 live births)","Plant species (higher), threatened",Time required to get electricity (days),"Mammal species, threatened",Depth of credit information index (0=low to 8=high),Bank capital to assets ratio (%),Bank nonperforming loans to total gross loans (%),Status
0,Denmark,36.205882,8.147059,6.335294,4.794118,3.667647,6.176471,27.323476,9.082353,15.941176,2.555882,35.411765,87.567647,8.029412,6.176471,8.246782,9.036333,Developed
1,Portugal,36.741349,8.210208,6.315744,4.817474,3.690225,6.122837,27.009789,9.261246,16.204152,2.557526,36.335640,89.025519,8.206747,6.181661,8.272590,9.220218,Developed
2,Guinea,29.428571,512.285714,5.857143,6.642857,56.335714,5.357143,19.439152,12.571429,15.428571,30.250000,16.928571,157.928571,15.071429,1.428571,9.295742,12.058598,UnderDeveloped
3,Norway,35.998448,8.157567,6.325031,4.870929,3.710526,6.244097,26.883479,9.460106,16.327804,2.573924,34.992571,90.114505,8.095181,6.157592,8.281906,9.097548,Developed
4,Malawi,26.173469,500.377551,5.775510,6.688776,56.002551,5.311224,19.231595,12.897959,15.173469,30.175000,15.637755,164.280612,14.362245,1.530612,9.295742,12.058598,UnderDeveloped

In [ ]:
final[final.isna().any(axis=1)]

Empty DataFrame
Columns: [Countries, Fish species, threatened, Maternal mortality ratio (modeled estimate, per 100,000 live births), Business extent of disclosure index (0=less disclosure to 10=more disclosure), Start-up procedures to register a business (number), Mortality rate, infant (per 1,000 live births), Strength of legal rights index (0=weak to 12=strong), Proportion of seats held by women in national parliaments (%), Time required to start a business (days), Bird species, threatened, Mortality rate, neonatal (per 1,000 live births), Plant species (higher), threatened, Time required to get electricity (days), Mammal species, threatened, Depth of credit information index (0=low to 8=high), Bank capital to assets ratio (%), Bank nonperforming loans to total gross loans (%), Status]
Index: []

In [ ]:
status=final['Status'].unique()
for i in status:
  x=final.loc[final['Status']==i]['Countries'].unique().shape
  print(x)

(34,)
(14,)
(21,)

In [ ]:
from google.colab import files
final.to_csv('algo.csv')
files.download('algo.csv')